<%# ids = Have.group(:item_id).order('count_item_id desc').limit(10).count(:item_id).keys %>
<%# @items = Item.find(ids).sort_by do |o| %>
  <%# ids.index(o.id) %>
<%# end %>

<div class="container">
  <div class="container-inner inner-default clearfix">
<h3>Have item ランキングページ</h3>

<ol>
<% @items.each do |item| %>
      <div class="item-box">
        <div><li></li></div>          
        <div class="image">
          <div class="img-wrap">
           <%= image_tag(item.large_image , alt: item.title) %>
          </div>
        </div>

        <div class="detail">
          <p class="title">
           <%= item.title %>
          </p>
        </div>
        <%= render 'items/action' , item: item if logged_in? %>
      </div>
<% end %>
</ol> 
  </div>
</div>